* {
  box-sizing: border-box;
  /* color: whitesmoke; */
  /* border: 1px solid gray; */
}


.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg"); */
  /* background-position: center; */
}

.component-wrapper {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1;
  padding-bottom: 8rem;
}

.nav-div {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #000046, #1cb5e0);
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0; */
  padding: .5rem 0;
  justify-self: flex-end;
}

.header-div {
  background: linear-gradient(to right, #000046, #1cb5e0);
  padding-top: 6rem;
  padding-left: 1rem;
  font-family:  'Staatliches', cursive;
}

.header-text {
  font-size: 60pt;
  color: whitesmoke;
}

.reg-text {
  font-size: 1.5vw;
}

#about-general-div {
  padding: 3rem;
  margin: 8rem 0;
  font-size: 35pt;
}


#about-strengths-list-div {
  padding: 3rem;
}

.strengths-text {
  color: black
}

.nav-link {
  color: whitesmoke;
  font-size: 35pt;
  font-family:  'Staatliches', cursive;
}

.strength-card-title {
  font-size: 40pt;
}

.strength-card-text {
  font-size: 35pt;
}

.strength-card {
  margin: 1rem;
  padding: 1rem;
  height: 35rem;
}

.strength-card > img {
  width: 20%;
  height: 30%;
  margin: 1rem auto;
}

#project-div {
  background-color: burlywood;
}

.projectCard {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 5%;
  height: 50%;
}

.projectCardImgDiv {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.projectCardImg {
  height: 100%
}

.projectCardInfoDiv {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.projectCardNameText {
  width: 100%;
  text-align: center;
  font-size: 35pt;

}

.projectCardDescriptionText {
  width: 100%;
  text-align: center;
  font-size: 20pt;
}
