* {
  /* border: .5px solid greenyellow; */
}

.App {
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.component-wrapper {
  flex: 1;
}

.headshot {
  max-height: 300px;
  border-width: 5px !important;
}

.border-width-3 {
  border-width: 3px !important;
}

.strength-card {
  /* max-height: 365px; */
  /* height: 400px; */
  /* max-width: 375px;
  min-width: 325px; */
  /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); */
  min-height: 450px;
}

.project-card {
  min-height: 515px;
  max-width: 500px;
}

.strength-card-img {
  /* min-height: 55%;
  max-height: 55%; */
  width: 60%;
  height: 50%;
  
}

.project-card-img {
  height: 70%;
  width: 100%;
}

#about-strengths-list-div {
  width: 80%;
}

@media only screen and (min-width: 768px) {
  #about-strengths-list-div {
    min-width: 675px;
    max-width: 968px;
  }
  .project-card {
    max-height: 600px;
  }
}